@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: black;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: black;
        --background: white;
    }
}

@media (prefers-reduced-motion: reduce) {
    .circle {
        animation: dissolve 2s linear infinite both;
    }
}
